<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="120">
    <properties>
        <!--if packaged by assembly change the value of  LOG_HOME to ${sys:logging.path}-->
        <property name="LOG_HOME">logs</property>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level %logger{36}@%method:%line - %msg%n
        </Property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingRandomAccessFile name="RollingFileInfo" fileName="${LOG_HOME}/catalina.out"
                                 filePattern="${LOG_HOME}/app.%d{yyyy-MM-dd}-%i.log.gz" append="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="15MB"/>
            </Policies>
            <!--max packages-->
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <!--global log level-->
        <!--TRACE、DEBUG、INFO、WARN、ERROR、FATAL-->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <!--customer log level for this project-->
        <AsyncLogger name="com.smartdoc.example" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFileInfo"/>
        </AsyncLogger>
    </Loggers>
</Configuration>